<div class="container">

<h2>Edit article</h2>

<%= @error %></br>

<%= form_for :article,url: article_path(@article),method: :put do |f| %>

<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :text %>
	<%= f.text_area :text %>
</p>

<p>
	<%= f.submit 'Update article' %></br>
	
</p>

<% end %>

</div>



