

<div class="container">

<h2>Add new article</h2>

<%= @error %></br>

<%= form_for :article,url: articles_path do |f| %>

<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :text %>
	<%= f.text_area :text %>
</p>

<p>
	<%= f.submit 'Save article' %></br>
	
</p>

<% end %>

</div>




